.gbNavContainer {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.gbNavButton {
  display: inline-block;
  width: 99px;
  margin-right: 1px;
}
.gbNavButtonInnerDiv {
  text-align: center;
  padding: 8px 0;
  font: 10pt sans-serif;
  text-transform: uppercase;
}
.gbNavButtonFirst {
  /* -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */
}
.gbNavButtonLast {
  margin-right: 0;
  /*  -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}
.gbNavButtonOff {
  cursor: pointer;
  background: #362F2D;
  color: #ebebeb;
}
.gbNavButtonOff a:link,
.gbNavButtonOff a:visited,
.gbNavButtonOff a:active,
.gbNavButtonOff a:hover {
  color: inherit;
}
.gbNavButtonOn {
  background: #464646;
  color: #faa817;
}