@mixin base-color() {
  background: $color5;
  color: $color1;
  svg {
    path {
      fill: $color1;
    }
  }
}

@mixin accent-color() {
  background: $color1;
  color: $color5;
  svg {
    path {
      fill: $color5;
    }
  }
}

nav.gbm {
  font: normal bold 12px/30px Arial, sans-serif;
  & > ul {
    @include base-color();
    display: flex;
    flex-direction: row;
    li {
      padding: 0 2rem;
      line-height: 2rem;
      cursor: pointer;
      &.open,
      &:hover {
        @include accent-color();
      }
    }
  }
}

ul.gbm {
  font: normal bold 12px/18px Arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  &.menu {
    @include base-color();
    position: absolute;
    display: none;
    &.open {
      display: block;
      opacity: 1;
      transition: opacity 2s ease-in-out;
    }
    &.init {
      opacity: 0;
      display: block;
    }
    &.closing {
      opacity: 0;
    }
    flex-direction: column;
  }
}

ul.gbm {
  .anchor,
  .separator,
  .submenu {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color5;
    padding: 0.5rem;
  }
}

ul.gbm {
  .submenu,
  .anchor {
    &.open,
    &:hover {
      @include accent-color();
    }
    a {
      text-decoration: none;
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
  }
}

ul.gbm {
  .submenu {
    @include base-color();
    div {
      margin-right: 1rem;
    }
  }
}

ul.gbm {
  hr {
    color: $color2;
    border-style: inset;
    border-width: thin;
    width: 100%;
  }
}
