nav.gbm {
  font: normal bold 12px/30px Arial, sans-serif; }
  nav.gbm > ul {
    background: black;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row; }
    nav.gbm > ul li {
      padding: 0 2rem;
      line-height: 2rem; }
      nav.gbm > ul li.open, nav.gbm > ul li:hover {
        background-color: white;
        color: black; }

ul.gbm {
  font: normal bold 12px/18px Arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.gbm.menu {
    background: black;
    color: white;
    position: absolute;
    display: none;
    flex-direction: column; }
    ul.gbm.menu.open {
      display: block; }
    ul.gbm.menu.init {
      opacity: 0;
      display: block; }

ul.gbm .anchor,
ul.gbm .separator,
ul.gbm .submenu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0.5rem; }

ul.gbm .submenu.open, ul.gbm .submenu:hover,
ul.gbm .anchor.open,
ul.gbm .anchor:hover {
  background: white;
  color: black; }
  ul.gbm .submenu.open svg path, ul.gbm .submenu:hover svg path,
  ul.gbm .anchor.open svg path,
  ul.gbm .anchor:hover svg path {
    fill: black; }

ul.gbm .submenu a,
ul.gbm .anchor a {
  text-decoration: none;
  color: inherit; }
  ul.gbm .submenu a:visited,
  ul.gbm .anchor a:visited {
    color: inherit; }

ul.gbm .submenu div {
  margin-right: 1rem; }

ul.gbm .submenu svg path {
  fill: white; }

ul.gbm hr {
  color: white;
  border-style: inset;
  border-width: thin;
  width: 100%; }
